.container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  // margin: 0 auto;
  padding: 10rem 0;

  @include respond(tab-land) {
    padding: 5rem 7rem;
  }

  @include respond(tab-port) {
    padding: 5rem 20rem;
  }

  @include respond(phone) {
    padding: 5rem 7rem;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $gutter-vertical;

  @include respond(tab-land) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $gutter-tab;
    padding: 0 auto;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-gap: $gutter-tab;
    padding: 0 auto;
  }
}
