.container {
  max-width: $grid-width;
  margin: 0 auto;
  padding: 0 5rem;

  @include respond(tab-land) {
    padding: 0 3rem;
  }
}

.row {
  max-width: $grid-width;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, minmax(20rem, 1fr));
  grid-gap: $gutter-vertical;

  @include respond(tab-land) {
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    grid-gap: $gutter-vertical;
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    grid-gap: $gutter-vertical;
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
    grid-gap: $gutter-vertical;
  }
}
